html,
body {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   transition: all .2s;
}

body {
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: "Jost", sans-serif;
   font-weight: 300;
   background-color: $color-white;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none !important;
   color: inherit !important;
}

ul {
   list-style: none;
   padding: 0;
}

button {
   background: none;
   border: none;
   outline: none;
}

.container {
   width: 100%;
   max-width: 1500px;
   margin: 0 auto;
   padding: 0 15px;
}

.op-1 {
   opacity: 1;
}

.op-0 {
   opacity: 0;
}

.bg-dark {
   background-color: rgba(0,0,0,.8);
}

.d-none {
   display: none !important;
}

