$color-accent: #eb4d4d;
$color-white: #ffffff;
$color-whiteDark: #f5f5f5;
$color-black: #121212;
$color-grey: #818181;
$color-greyD: #bfbfbf;
$color-greyLight: #d4d4d4;
$color-green: #81b33d;

$font-jost: 'Jost', sans-serif;
$font-hind: 'Hind', sans-serif;